<section class="container">
      <form  (ngSubmit)="adicionarusuario(idUsuario.value,nome.value,registro.value,setor.value,cargo.value,data.value)" >
              <div class="form-group">
                 <label for="idUsuario"></label>
                  id do Usuário: <input #idUsuario
                  type="text"
                  class="id"
                  id = "idUsuario"
                  placeholder="Gerado pelo Sistema"

                  required
                  [(ngModel)]="idUsuario.value"
                  name="idUsuario"><br><br>


              </div>

              <div class="form-group">
                  <label for="nomeUsuario"></label>
                  Nome do Usuário: <input  #nome
                  type="text"
                  class="nome"
                  id = "nomeUsuario"
                  placeholder="Nome do Usuario"

                  [(ngModel)]="nome.value"
                  name="nome"><br><br>
              </div>

              <div class="form-group">
                  <label for="registroUsuario"></label>
                    Registro do Usuário: <input #registro
                    type="text"
                    class="registro"
                    id = "registroUsuario"
                    placeholder="Registro do Usuario"

                    [(ngModel)]="registro.value"
                    name="registro"><br><br>
              </div>

              <div class="form-group">
                  <label for="setorUsuario"></label>
                  Setor do Usuário: <input  #setor
                  type="text"
                  class="setor"
                  id = "setorUsuario"
                  placeholder="Setor de trabalho"

                  [(ngModel)]="setor.value"
                  name="setor"><br><br>
              </div>

              <div class="form-group">
                  <label for="cargoUsuario"></label>
                  Cargo do Usuário: <input #cargo
                  type="text"
                  class="cargo"
                  id = "cargoUsuario"
                  placeholder="Cargo do Usuario"

                  [(ngModel)]="cargo.value"
                  name="cargo" ><br><br>
              </div>

              <div class="form-group">
                  <label for="dataUsuario"></label>
                  Cargo do Usuário: <input #data
                  type="text"
                  class="data"
                  id = "dataUsuario"
                  placeholder="data do cadastro"

                  [(ngModel)]="data.value"
                  name="data" ><br><br>
              </div>

              <div class="botao-wrapper">

                    <button
                      class="botao"
                      type="submit">
                      Cadastrar novo Usuário
                    </button>
              </div>

      </form>

     </section>


        <p>---------------------------------------------------------------- </p>
        <div>
          ()
          {{  Usuarios}}</div>

    <p>---------------------------------------------------------------------------------------------------------------------------------------</p>
    <div>{{  Usuarios.length }}</div>

    <p>*******************************************************************************************************************************************************************************************************************************</p>

   <app-usuario-view [Usuarios]="Usuarios"></app-usuario-view>
