<div>
    <table class="table table-striped table-hover" >
             <thead>
                 <tr>
                   <th>ID</th>
                   <th>Nome</th>
                   <th>Registro</th>
                   <th>Setor</th>
                   <th>Cargo</th>
                   <th>Deletar</th>
                 </tr>
             </thead>
             <tbody *ngIf="Usuarios.length > 0 ; else listaUsuarioVazio">
               <tr *ngFor="let usuarios of Usuarios">
                   <td>{{usuarios.idUsuario}}</td>
                   <td>{{usuarios.nome}}</td>
                   <td>{{usuarios.registro}}</td>
                   <td> {{usuarios.setor}}</td>
                   <td>{{usuarios.cargo}}</td>
                   <td><button class="del" (click)="(usuarios.idUsuario)">Deletar</button></td>
               </tr>
             </tbody>
         </table>
         <ng-template #listaUsuarioVazio>
          <p>Nenhum Usuario cadastrado </p>
         </ng-template>
     </div>
