
<form (ngSubmit)="submit()" formGroup="formsCadastrmUSuario" formDir="ngForm" > 
    <div class="form-group">
        <label for="title"></label>
    id: <input  
         type="text" 
         class="id" 
         placeholder="Gerado pelo Sistema" 
         formControlName="id"
         required
         /><br><br>
         <div *ngif="title.invalid && formDir.submitted" class ="validation-error">
            <p *ngIf= "id.errors?.['required']"> o ID do Usuario é obrigatório </p>
         </div>
     </div>
     <div class="form-group">
        <label for="title">Titulo</label>
    Nome: <input #unome type="text" class="nome" placeholder="Nome do Usuario"ngModel="USUNOVO.nome"><br><br>
    </div>
    <div class="form-group">
        <label for="title">Titulo</label>
    Registro: <input #uregistro type="text" class="registro" placeholder="Registro do Usuario"ngModel="USUNOVO.registro"><br><br>
    </div>
    <div class="form-group">
        <label for="title">Titulo</label>
    Setor    : <input  #usetor type="text" class="setor" placeholder="Setor de trabalho"ngModel="USUNOVO.setor"><br><br>
    </div>
    <div class="form-group">
        <label for="title">Titulo</label>
    Cargo: <input #ucargo type="text" class="cargo" placeholder="Cargo do Usuario"ngModel="USUNOVO.cargo" ><br><br>
    </div>

 <input class="inp" type="Submit"  value="{{textoDoBotao}}"  />
</form>
    <p>---------------------------------------------------------------- </p>