<div class="formul" >
<form > 
  <div class="mb-3">
    id: <input #uid type="text" class="form-control form-control-sm"  ngModel="USUNOVO.id"><br><br>
    Nome do Sensor: <input #unome type="text" class="form-control form-control-sm" ngModel="USUNOVO.nome"><br><br>
    Endereço IP: <input #uregistro type="text" class="form-control form-control-sm" ngModel="USUNOVO.registro"><br><br>
    Setor do Sensor   : <input  #usetor type="text" class="form-control form-control-sm" ngModel="USUNOVO.setor"><br><br>
    Tipo do Sensor: <input #ucargo type="text" class="form-control form-control-sm" ngModel="USUNOVO.cargo" ><br><br>
    </div>
</form>
 <input class="btn btn-primary btn-lg" type="button"  value="NOVO"  >
</div>