<section class="container">
  <form (ngSubmit)="adicionarSensor(idSensor.value,nomeSensor.value,IPSensor.value,setorSensor.value,tipoSensor.value)" >
  <div class="form-group">
  <label for="idSensor"></label>
  id do Sensor: <input #idSensor
  type="text"
  class="id"
  id = "idSensor"
  placeholder="Gerado pelo Sistema"

  required
  [(ngModel)]="idSensor.value"
  name="idSensor"
  ><br><br>

  </div>

  <div class="form-group">
  <label for="nomeSensor"></label>
  Nome do Sensor: <input #nomeSensor
  type="text"
  class="nome"
  id = "nomeSensor"
  placeholder="Nome do Sensor"

  [(ngModel)]="nomeSensor.value"
  name="nomeSensor"
  ><br><br>

  </div>

  <div class="form-group">
  <label for="registroUsuario"></label>
  IP do Sensor :<input #IPSensor
  type="text"
  class="IP"
  id = "IPSensor"
  placeholder="IP do Sensor"

  [(ngModel)]="IPSensor.value"
  name="IPSensor"
  ><br><br>
  </div>

  <div class="form-group">
  <label for="setorSensor"></label>
  Setor do Sensor: <input #setorSensor
  type="text"
  class="setorSensor"
  id = "setorSensor"
  placeholder="Setor do Sensor"

  [(ngModel)]="setorSensor.value"
  name="setorSensor"
    ><br><br>
  </div>

  <div class="form-group">
  <label for="tipo do Sensor"></label>
  Tipo do Sensor: <input #tipoSensor
  type="text"
  class="tipoSensor"
  id = "tipoSensor"
  placeholder="Cargo do Usuario"
  [(ngModel)]="tipoSensor.value"
  name="tipoSensor"
  ><br><br>
  </div>

  <div class="botao-wrapper">

  <button
  class="botao"
  type="submit">
  Cadastrar novo Sensor
  </button>
  </div>

  </form>

  </section>

  <p>------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- </p>


  <p>-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
  <div>{{ sensores.length }}</div>

  <p>*******************************************************************************************************************************************************************************************************************************</p>
  <app-sensores-view [Sensor]="sensores"></app-sensores-view>

