
<body>
    <div class="div-inteira">   
        <div class="serviço-1">
            <div>
       <p class="parag">Serviço 1</p> 
    </div>
</div>
    <div class="serviço-2">
        <div>
        <p class="parag">Serviço 2</p>
</div>
    </div>
    <div class="serviço-3">
        <div>
        <p class="parag">Serviço 3</p>
        </div>
    </div>
    <div class="serviço-4">
        <p class="parag">Serviço 4</p>
        <div>
    </div>
    <div class="serviço-5">
        <div class="serviços">
        <p class="parag">Serviço 5</p>
            </div>
    </div>
</div>
    <div class="serviço-6">
        <div class="serviços">
        <p class="parag">Serviço 6</p>
            </div>
    </div>
    <div class="serviço-7">
        <div class="serviços">
        <p class="parag">Serviço 7</p>
        </div>
    </div>
    <div class="serviço-8">
        <div class="serviços">
        <p class="parag">Serviço 8</p>
        </div>
    </div>
    <div class="serviço-9">
        <div class="serviços">
        <p class="parag">Serviço 9</p>
            </div>
        </div>
</div>
</body>
